<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="MicrosoftSpeechToTextEndpoint" value="https://westus.api.cognitive.microsoft.com/sts/v1.0" />
    <add key="MicrosoftSpeechApiKey" value="d45f2bd08877425f9de051ffe7a7e6f1" />
    <add key="MicrosoftSpeechAccessTokenEndpoint" value="https://westus.api.cognitive.microsoft.com/sts/v1.0/issueToken" />
    <add key="MicrosoftTextToSpeechEndpoint" value="https://westus.tts.speech.microsoft.com/cognitiveservices/v1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>