<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="MicrosoftSpeechToTextEndpoint" value="https://api.cognitive.microsoft.com/sts/v1.0" />
    <add key="MicrosoftSpeechApiKey" value="e139881509d541b188adaac942b86ca4" />
    <add key="MicrosoftSpeechAccessTokenEndpoint" value="https://api.cognitive.microsoft.com/sts/v1.0/issueToken" />
    <add key="MicrosoftTextToSpeechEndpoint" value="https://speech.platform.bing.com/synthesize" />
    <add key="BotId" value="leoleo-fabrikamtestbot" />
    <add key="MicrosoftBotDirectLineKey" value="XYwHpq664OQ.cwA.azI.MBNijnQAQRd0uFcyYC3c-2teLCuhRmcDJISHinnagk4"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>